#about-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#about-content table {
    width: 90%;
}

#about-content .group-start td {
  margin-top: 16px;
}

#about-content th, #about-content td {
  border: 1pt solid black;
  padding: 10px;;
}
